@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
@import url(main.css);

/* Added code TEJ 9/29/20*/


.carousel-wrapper{
  height:400px;
  position:relative;
  width:800px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1{
background:url('/about/portfolio/images/desks12fdb7145f6327daf68931755f989f23.png');
	 z-index:2;
 	 opacity: 1;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-2{
background:url('/about/portfolio/images/desks13faacc1c5856cddf73a12c0b8dfb5d8.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-3{
background:url('/about/portfolio/images/desks1c4f220f079c1a0d2c909e988f25a96a.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-4{
background:url('/about/portfolio/images/desks64e633baa3c2686db9b8bb30973300ba.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-5{
background:url('/about/portfolio/images/desks66b367fbd778c3b9e33918d5340bf709.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-6{
background:url('/about/portfolio/images/desks7e4bfa3e788418fb078fc3564b53ac43.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-7{
background:url('/about/portfolio/images/desksbf8938c8d36bd71a60f927bcc3e0cbef.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-8{
background:url('/about/portfolio/images/desksd02e5289926e59cc521c579d04e144c6.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-9{
background:url('/about/portfolio/images/desksd50d5d10216688bfc8381f63e9873510.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-10{
background:url('/about/portfolio/images/desksIMG_1568.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-11{
background:url('/about/portfolio/images/desksIMG_1572.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-12{
background:url('/about/portfolio/images/desksIMG_1598.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-13{
background:url('/about/portfolio/images/desksIMG_1599.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-14{
background:url('/about/portfolio/images/desksIMG_1600.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-15{
background:url('/about/portfolio/images/desksIMG_1605.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-16{
background:url('/about/portfolio/images/desksIMG_1606.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-17{
background:url('/about/portfolio/images/desksIMG_1607.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-18{
background:url('/about/portfolio/images/desksIMG_1610.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-19{
background:url('/about/portfolio/images/desksIMG_1611.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-20{
background:url('/about/portfolio/images/desksIMG_1615.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-21{
background:url('/about/portfolio/images/desksIMG_1618.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-22{
background:url('/about/portfolio/images/desksIMG_1623.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-23{
background:url('/about/portfolio/images/desksIMG_1625.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-24{
background:url('/about/portfolio/images/desksIMG_1626.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-25{
background:url('/about/portfolio/images/desksIMG_1632.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-26{
background:url('/about/portfolio/images/desksIMG_1653.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-27{
background:url('/about/portfolio/images/desksIMG_1655.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-28{
background:url('/about/portfolio/images/desksIMG_1658.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-29{
background:url('/about/portfolio/images/desksIMG_1658.tiff');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-30{
background:url('/about/portfolio/images/desksIMG_1659.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-31{
background:url('/about/portfolio/images/desksIMG_1660.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-32{
background:url('/about/portfolio/images/desksIMG_1711.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-33{
background:url('/about/portfolio/images/desksIMG_2856.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-34{
background:url('/about/portfolio/images/desksIMG_2864.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-35{
background:url('/about/portfolio/images/desksIMG_2893.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.item-36{
background:url('/about/portfolio/images/desksIMG_2894.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

*:target ~ .item-1 {
 opacity: 0;
 }

#item-1:target ~ .item-1 {
 opacity: 1;
 }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5, #item-6:target ~ .item-6, #item-7:target ~ .item-7, #item-8:target ~ .item-8, #item-9:target ~ .item-9, #item-10:target ~ .item-10, #item-11:target ~ .item-11, #item-12:target ~ .item-12, #item-13:target ~ .item-13, #item-14:target ~ .item-14, #item-15:target ~ .item-15, #item-16:target ~ .item-16, #item-17:target ~ .item-17, #item-18:target ~ .item-18, #item-19:target ~ .item-19, #item-20:target ~ .item-20, #item-21:target ~ .item-21, #item-22:target ~ .item-22, #item-23:target ~ .item-23, #item-24:target ~ .item-24, #item-25:target ~ .item-25, #item-26:target ~ .item-26, #item-27:target ~ .item-27, #item-28:target ~ .item-28, #item-29:target ~ .item-29, #item-30:target ~ .item-30, #item-31:target ~ .item-31, #item-32:target ~ .item-32, #item-33:target ~ .item-33, #item-34:target ~ .item-34, #item-35:target ~ .item-35, #item-36:target ~ .item-36 {
	 z-index: 3;
	 opacity: 1;
}
